<nav>
    <div>Woony Board</div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/boards/upload">Upload</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/join">Join</a></li>
        <li><a href="logout">Log out</a></li>
        <li><a href="/search">Search</a></li>
    </ul>
</nav>